@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post">
    <label for="name">Name</label>
    <input name="name" type="text" />
    <label for="desc">Description</label>
    <input name="desc" />
    <input type="submit" value="Add Event" />
</form>

<partial name="/Views/Shared/_LinkListPartial.cshtml" />